# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Windows files
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Inno Setup
*.iss text eol=crlf

# Markdown
*.md text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# JSON
*.json text eol=lf

# Git
.gitignore text eol=lf
.gitattributes text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.webp binary

# Executables
*.exe binary
*.dll binary
